<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auth0 Management API Report</title>
</head>
<body>
<h1>Home Page</h1>
<% if(locals.user) {%>
  <ul>
  <h3>Hello <%= user.name %></h3>
  <a href="/reports">Report</a>
  <a href="/user">User Information</a>
  <a href="/logout">Logout</a>
</ul>
<% } else { %>
  <a href="/login">Login</a>
<% } %>
</body>
</html>
